.OutputPage {
  padding: 2vw;
  gap: 2vw;

  .header {
    width: 100%;
    justify-content: flex-start;
    .logoContainer {
      width: 15vw;
      /* border: 1px solid #000; */
    }
    .textContainer {
      width: 30vw;
      margin-left: 18.5%;
      /* border: 1px solid #000; */
    }
  }

  .main {
    width: 19vw;
  }

  .footer {
    .imgContainer {
      width: 15vw;
      cursor: pointer;
    }
  }
}
