.FaceSwapPage {
  /* border: 1px solid #fff; */
  padding: 2vw;
  gap: 2vw;

  .header {
    width: 100%;
    justify-content: flex-start;
    .logoContainer {
      width: 15vw;
      /* border: 1px solid #000; */
    }
    .textContainer {
      width: 30vw;
      margin-left: 18.9%;
      /* border: 1px solid #000; */
    }
  }

  .main {
    /* border: 1px solid #fff; */
    gap: 10vw;
    .imgContainer {
      width: 20vw;
    }
    .faceSwapContainer {
      background-color: #fff;
      justify-content: flex-start;
      gap: 1vw;
      padding: 2vw;
      overflow-y: scroll;
      height: 26.5vw;
      /* position: relative; */
      .singleContainer {
        background-color: #ddd;
        border-radius: 1vw;
        gap: 1vw;
        padding: 1.5vw;
        .templateFaceContainer {
          width: 5vw;
          height: 5vw;
          img {
            border: 0.2vw solid var(--themeColor);
            border-radius: 50%;
          }
        }

        .arrowIconContainer {
          width: 5vw;
        }

        .capturedFaceContainer {
          width: 5vw;
          height: 5vw;
          cursor: pointer;
          img {
            border: 0.2vw solid var(--themeColor);
            border-radius: 50%;
          }
        }
      }
      .allFaceContainer {
        background-color: #fff;
        flex-wrap: wrap;
        border-radius: 1vw;
        gap: 1vw;
        padding: 1.5vw;
        position: absolute;
        top: 3%;
        right: 5%;
        z-index: 1;
        .singleFaceContainer {
          width: 5vw;
          height: 5vw;
          cursor: pointer;
          img {
            border: 0.2vw solid var(--themeColor);
            border-radius: 50%;
          }
        }
      }
    }
  }

  .footer {
    .imgContainer {
      width: 15vw;
      cursor: pointer;
    }
  }
}

.addFaceContainer::-webkit-scrollbar {
  width: 0.8vw;
}

.addFaceContainer::-webkit-scrollbar-track {
  background: transparent;
}

.addFaceContainer::-webkit-scrollbar-thumb {
  /* background-color: var(--themeColor2); */
  background: linear-gradient(to bottom, #ff93df, #7a21bb);
  border-radius: 2vw;
}

@media all and (max-width: 991px) {
  .FaceSwapPage {
    padding: 4vw;
    gap: 20vw;

    .header {
      flex-direction: column;
      gap: 5vw;
      .logoContainer {
        width: 35vw;
      }
      .textContainer {
        width: 70vw;
        margin-left: 0;
      }
    }

    .main {
      gap: 5vw;
      .imgContainer {
        width: 40vw;
      }
      .faceSwapContainer {
        gap: 2vw;
        padding: 4vw;
        height: 53vw;
        .singleContainer {
          border-radius: 2vw;
          gap: 2vw;
          padding: 3vw;
          .templateFaceContainer {
            width: 10vw;
            height: 10vw;
            img {
              border: 0.4vw solid var(--themeColor);
            }
          }

          .arrowIconContainer {
            width: 10vw;
          }

          .capturedFaceContainer {
            width: 10vw;
            height: 10vw;
            cursor: pointer;
            img {
              border: 0.2vw solid var(--themeColor);
              border-radius: 50%;
            }
          }
        }
        .allFaceContainer {
          border-radius: 2vw;
          gap: 2vw;
          padding: 3vw;
          top: 18.3%;
          right: 3%;
          .singleFaceContainer {
            width: 10vw;
            height: 10vw;
            img {
              border: 0.4vw solid var(--themeColor);
            }
          }
        }
      }
    }

    .footer {
      .imgContainer {
        width: 40vw;
        cursor: pointer;
      }
    }
  }

  .addFaceContainer::-webkit-scrollbar {
    width: 1.6vw;
  }

  .addFaceContainer::-webkit-scrollbar-track {
    background: transparent;
  }

  .addFaceContainer::-webkit-scrollbar-thumb {
    /* background-color: var(--themeColor2); */
    background: linear-gradient(to bottom, #ff93df, #7a21bb);
    border-radius: 4vw;
  }
}
